:root {
    font-family: 'Amiko', sans-serif;
    font-family: 'Noto Sans', sans-serif;    

    --fondo: #F5F5F5;
    --blanco: #fff;
    --comp1: #0A192F;
    --comp2: #3B5249;
    --acento1: #FFA500;
    --acento2: #B19CD9;
    --acento3: #4C2A85;
}

body{
    background-color: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    margin: 0px;
}

ul, li {
    list-style: none;
}

.cuerpo{
    width: 1200px;
    display: flex;
    flex-direction: column;
}

/* Cabecera */
.header{
    width: 100%;
    height: 10rem;
    background-color: var(--comp1);
    display: flex;
    flex-direction: row;
    color: var(--blanco);
    margin-bottom: 1rem;
}

.iniciales{
    font-size: 100px;
    color: #B19CD9;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 1rem 0 5rem;
    align-items: center;
}

.contenedor--header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header--titulo{
    text-transform: uppercase;
    font-size: 2rem;;
    margin: 0 1rem;
    color: var(--blanco);
}

.header--texto{
    margin: 0 1rem;
    color: var(--acento1);
    font-size: large;
}

/** Hero **/
.hero{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.hero--img{
    border-radius: 50%;
    height: 400px;
    margin: 10px 0;
}

.hero--container{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero--container__texto {
    text-align: center;
    font-weight: 400;
    font-size:xx-large;
}

/** About **/
.about {
    display: flex;
    flex-direction: column;
}

.label--title{
    background-color: var(--fondo);
    color:var(--acento1);
    padding: .5rem 1rem;
    text-transform: uppercase;
    margin: 1rem 0;
    border-top: solid 3px;
}

.about--texto, .contacto--texto {
    padding: .2rem 1rem;
    text-align: justify;
    font-size: large;
}

/** Experiencia **/
.contenedor--experiencia{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.tarjetas--exp{
    background-color: var(--comp1);
    margin: 1rem;
    padding: 1rem;
    color: #F5F5F5;
    border-radius: 1rem;
    border: 1px solid black;
}

.imagen--empresa{
    border-radius: 1rem;
    border: white 3px solid;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;  
    width: 210px;
}

.titulo--mini{
    text-transform: uppercase;
    font-size: medium;
    font-weight: 600;
}

/* Habilidades */

.contenedor--skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:.5rem;
}

.contenedor-barra{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: .5rem;
}

.skill{
    text-align: right;
}

.progreso{
    margin: 0;
    height: 50px;
}

/* lenguajes */
.contenedor--lenguajes{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.lenguaje{
    background-color: var(--acento1);
    color: white;
    padding: .2rem 1rem;
    border-radius: 0 1rem 0 0;
    font-size: larger;
    text-transform: uppercase;
}

/* Contacto */
.contenedor-contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.contacto--detalle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: .5rem 0;
    background-color: var(--comp1);
    color: var(--blanco);
}

.svg-contacto{
    height: max-content;
}
.contacto--texto, 
.contacto--label,
.svg-contacto{
    margin: auto 0;
    text-align: center;
}

.localidad{
    grid-column: span 2;
}
.contact{
    margin-bottom: 0;
}

.contacto-img{
    width: 100%;
}

.importante{
    color: var(--acento1);
    font-weight: bold;
    text-transform: uppercase;
}

/* preparación */
.contenedor--cursos {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 1rem;
padding: 0 1rem;
}

.cursos--tarjetas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cursos--tarjetas > * {
    margin: auto 0;
}
.curso--titulo{
    font-weight: bold;
}

.info-curso{
    font-size: larger;
}

.img-preparacion{
    height: 200px;
    grid-row: span 3;
    border-radius: 50%;
    float: left;
}

.cursos-detalle{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* Media Queries Tablet*/

@media (max-width: 992px){
    .cuerpo{
        width: 100%;
    }

    .iniciales{
        padding:0;
    }

    .header{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        padding-bottom: .5rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero--img{
        border-radius: 50%;
        width: fit-content;
        margin: 10px 0;
    }

    .contenedor--experiencia{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    }

    .tarjetas--exp{
        margin: .2rem;
    }

    .contenedor--skills{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .contenedor-barra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .contenedor--lenguajes{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .contenedor-contacto {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .contacto--detalle{
        display: flex;
        flex-direction: column;
    }

    .contacto-img{
        width: 100%;
    }

    .localidad{
        grid-column: span 1;
    }
}

/* Media Queries celular*/

@media (max-width: 576px){
    .cuerpo{
        width: 100%;
    }

    .iniciales{
        padding:0;
    }

    .header{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: auto;
        padding-bottom: .5rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero--img{
        border-radius: 50%;
        width: fit-content;
        margin: 10px 0;
    }

    .contenedor--experiencia{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjetas--exp{
        margin: .2rem;
        width: 80%;
    }

    .contenedor--skills{
        display: flex;
        flex-direction: column;
    }

    .contenedor-barra{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .contenedor--lenguajes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    .contenedor-contacto {
        display: flex;
        flex-direction: column-reverse;
    }

    .contacto-img{
        Object-fit: none;
        height: 12rem;
    }

    .contenedor--cursos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}

}
